body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkcyan;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}



.ChangeProfileImg{
    width: 24%;
    margin: auto;
}

tr{
    border: 2px solid black;
}

th{
    border-left: 1px solid black;
    background-color: darkcyan;
}

td{
    text-align: center;
    border-left: 1px solid black;
}

td:nth-child(1), th:nth-child(1){
    border-left: none;
}

.UserSearch{
    width: 120%;
    color: black;
    border-radius: 40px;
    padding: .5%;
    padding-left: 3%;
    border: 2px solid black;
}

.HomeNav{
    background: dimgrey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.Profile{
    padding-bottom: 1%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-top: 2%;
    background-color: gainsboro;
    width: 80%;
    margin: auto;
}

.ProfileImg{
    border: 2px solid black;
    cursor: pointer;
    max-width: 100%;

}

.HomeHead{
    text-align: center;
}

.NavItem:nth-child(1){
    border-left: none;
}

.NavItem{
    background-color: snow;
    display: inline-block;
    width: 20.46%;
    text-align: center;
    margin-right: -1%;
    border-left: 2px solid black;
}

.NavItem:hover{
    background-color: lightgray;
    cursor: pointer;
}

.NavValue{
    font-size: 1.5em;
}

.NavLabel{
    font-size: 1.2em;
    font-weight: bolder;
}

.HomeBody{
    padding: 1%;
}
