body {
    padding-top: 50px;
    background-color: darkcyan;
}

input{
    border: 2px solid black;
}

.tables{
    padding: 1%;
    border-radius: 10px;
    background: silver;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    overflow-x: overlay;
    width: 68%;
}

select,
textarea {
    max-width: 280px;
}

.ChangeImageLabel{
    min-width: 100%;
}

.ChangeProfileImg{
    display: inline-block;
    margin-top: -2%;
    width: 100%;
}

tr{
    border: 2px solid black;
}

.special{
    font-size: 1em!important;
}

.NutritionTable{
    display: inline-block;
    width: 100%;
}

th{
    border-left: 1px solid black;
    background-color: darkcyan;
}

td{
    background: white;
    text-align: center;
    border-left: 1px solid black;
}

td:nth-child(1), th:nth-child(1){
    border-left: none;
}

.UserSearch{
    width: 120%;
    color: black;
    border-radius: 40px;
    padding: .5%;
    padding-left: 3%;
    border: 2px solid black;
}

.HomeNav{
    background: dimgrey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.UserName{
    margin-top: 0;
}

.Profile{
    padding-bottom: 1%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-top: 2%;
    background-color: gainsboro;
    width: 100%;
    margin: auto;
}

.ProfileImg{
    cursor: pointer;
    max-width: 100%;
    min-width: 100%;
}

.HomeHead{
    width: 18%;
    margin-top: -2%;
    text-align: center;
    border-right: 2px solid black;
    display: inline-block;
}

.NavItem:nth-child(3), .NavItem:nth-child(5), .NavItem:nth-child(8), .NavItem:nth-child(10), .NavItem:nth-child(12){
    border-right: none;
}

.NavItem{
    background-color: snow;
    text-align: center;
    border-right: 2px solid black;
    width: 50%;
    float: left;
    height: 70px;
    padding: 3%;
    border-bottom: 2px solid black;
    background-color: white;
    display: inline-block;
}

.Editable:hover{
    background-color: lightgray;
    cursor: pointer;
}

.NavValue{
    color: darkcyan;
    font-weight: bolder;
    font-size: 1.2em;
}

.NavLabel{
    font-size: 1em;
    font-weight: bolder;
}

.HomeBody{
    width: 62%;
    padding: 1%;
    display: inline-block;
    position: absolute;
    margin-top: -2%;
}

.Today{
    display: inline-block;
    font-weight: bolder;
}

.AddEmblems{
    vertical-align: text-bottom;
    display: inline-block;
    margin-left: 2%;
    width: 40%;
}

.AddEmblems span:hover{
    box-shadow: none;
    color: white;
}

.AddEmblems span{
    box-shadow: 2px 2px 2px black;
    padding: 1% 3% 1% 3%;
    background: darkcyan;
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 5%;
    cursor: pointer;
}

.AddFoodModal, .EditItem{
    padding: 1%;
    position: fixed;
    z-index: 3;
    border: 2px solid black;
    background: darkgrey;
    margin-top: 5%;
    width: 50%;
    margin-left: 10%;
    box-shadow: 6px 6px 6px black;
    max-height: 300px;
    overflow-y: overlay;
    overflow-x:hidden;
}

.AddExerciseModal{
    padding: 1%;
    position: fixed;
    z-index: 3;
    border: 2px solid black;
    background: darkgrey;
    margin-top: 5%;
    width: 50%;
    margin-left: 10%;
    box-shadow: 6px 6px 6px black;
    max-height: 300px;
    overflow-y: scroll;
}

.AddExerciseModal h4{
    margin-top: 0;
    font-weight: bolder;
}

.AddFoodModal h3, .AddExerciseModal h3, .EditItem h3{
    margin-top: 0;
    display: inline-block;
}

.AddFoodModal span, .AddExerciseModal span, .EditItem span{
    float: right;
    font-size: 2.5em;
    margin-right: 2%;
    cursor: pointer;
}

.AddFoodModal span:hover, .AddExerciseModal span:hover, .EditItem span:hover{
    color: red;
}

.SubmitNewFood{
    margin-top: 15%;
}

.Hoverable:hover{
    background: darkgrey;
    cursor: pointer;
}

.AddFoodModal input, .AddExerciseModal input, .AddFoodModal select, .AddExerciseModal select{
    border: 2px solid black;
}

.FoodResult{
    cursor: pointer;
    background: darkcyan;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 70%;
    margin-left: 27.55%;
    font-weight: bolder;
    text-align: center;
}

.HomeHeadUserInformation{
    padding: 1%;
    border-top: 3.5px solid black;
    background: silver;
    margin-top: -3%;
    padding-top: 3%;
}

.line{
    border-bottom: 1.5px solid darkcyan;
}

.HomeBodyBody{
    width: 116%;
}

.HomeBodyHead h4{
    font-weight: bolder;
}

.ProfileHeader{
    font-size: 1.3em;
    text-align: left;
    background: grey;
    padding: 2%;
    border-bottom: 2px solid black;
    margin-bottom: 0%;
    font-weight: bolder;
}

.FirstLineChart{
    height: 270px!important;
    width: 95%!important;
}

.FirstBarChart{
    height: 270px!important;
    width: 390px!important;
}

.PieChart2{
    height: 200px!important;
    width: 365px!important;
}

.FirstPieChart{
    width: 352px!important;
    height: 200px!important;
    padding-bottom: 2%;
    border-bottom: 2px solid darkcyan;
}

.PieChartContainer{
    width: 48%;
    margin-left: 79%;
    top: 10px;
    position: absolute;
}

.PieChart2Container{
    width: 48%;
    margin-left: 79%;
    top: 210px;
    position: absolute;
}

.BarChartContainer{
    border-bottom: 2px solid darkcyan;
    border-top: 2px solid darkcyan;
    margin-top: 12%;
    width: 50%;
    margin-left: 74%;
    top: 330px;
    position: absolute;
}

.LineChartContainer{
    border-bottom: 2px solid darkcyan;
    border-top: 2px solid darkcyan;
    margin-top: 12%;
    width: 74%;
    top: 330px;
    position: absolute;
    border-right: 2px solid darkcyan;
}

.EditHeader{
    font-weight: bolder;
}

.EditItem input{
    border: 2px solid black;
}